form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  outline: none;
}

select {
  -webkit-border-radius: 0;
}

textarea {
  vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  font-family: inherit;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
}